<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Shadowlands</a>
        <ul class="nav pull-left">
          <%= item :li, "downloadable" do %>
            <%= link_to "Downloads", "#" %>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <%= render partial: "header_search" %>
          <%= render partial: "header_authentication" %>
        </ul>
      </div>
    </div>
  </nav>
  <%= render partial: "notifications" if notice || alert %>
</header>
