<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to buttoner("picture", "Gallery"), "#gallery", data: toggle("tab") %>
  </li>
  <li>
    <%= link_to buttoner("quote-left", "Description"), "#description", data: toggle("tab") if downloadable.description %>
  </li>
  <li>
    <%= link_to buttoner("download-alt", "Installing"), "#installing", data: toggle("tab") if downloadable.install %>
  </li>
  <li>
    <%= link_to buttoner("list", "Changelog"), "#changelog", data: toggle("tab") if downloadable.changelog %>
  </li>
  <li>
    <%= link_to buttoner("legal", "License"), "#license", data: toggle("tab") if downloadable.license %>
  </li>
  <li>
    <%= link_to buttoner("comments", "Comments"), "#comments", data: toggle("tab") %>
  </li>
</ul>
<div id="content" class="tab-content">
  <div class="tab-pane fade active in" id="gallery">
    <%= render partial: "thumbs", locals: { images: downloadable.images, primary: downloadable.images.shift } %>
  </div>
  <div class="tab-pane fade" id="description">
    <%= raw downloadable.description %>
  </div>
  <div class="tab-pane fade" id="installing">
    <%= raw downloadable.install %>
  </div>
  <div class="tab-pane fade" id="changelog">
    <%= raw downloadable.changelog %>
  </div>
  <div class="tab-pane fade" id="license">
    <%= raw downloadable.license %>
  </div>
  <div class="tab-pane fade" id="comments">
    <%= render partial: "disqus" %>
  </div>
</div>

