<p class="text-info" style="text-align: center;">
  <%= downloadable.liked_by_count %> Likes /
  <%= downloadable.disliked_by_count %> Dislikes /
  <%= downloadable.bookmark_count %> Bookmarks /
  <%= downloadable.download_count %> Downloads /
  <%= downloadable.license_name %> License
</p>
