<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "metadata" %>
    <%= render partial: "stylesheets" %>
    <%= render partial: "javascripts" %>
  </head>
  <body id="<%= controller_name %>#<%= action_name %>" class="container">
    <%= render partial: "header" if view_has_header? %>
    <article>
      <%= yield %>
    </article>
    <%= render partial: "footer" if view_has_footer? %>
  </body>
</html>
